.Blog-names{
    min-height: 100vh;
    width: 25%;
    color:#000000;
    float: left;
    text-align: justify;
    background: #E6E6FC;
    position: static;
}

ul {
    list-style-type: none;
}

.title-and-text{
    float: right;
    #border: red 1px solid;
    text-align: justify;
    width: 70%;
    padding-left: 25px;
    position: static;
}

.page{
    padding-top: 60px;
}