.App {
  text-align: center;
}

.App-logo {
  #animation: App-logo-spin infinite 20s linear;
  width: 100%;
  pointer-events: none;
}

.navbar {
  max-width: 100%;
  border: #B5D4EC 2px solid;
  height: 70px;
  background-color: #E4F1FB;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
}

.App-header {
  #background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}